NODE_ENV=development # development | production
NEXT_PUBLIC_API_URI=http://localhost:5000
API_URL=http://localhost:5000

# Should be the same as in backend .env file
JWT_ACCESS_COOKIE_NAME=access
JWT_REFRESH_COOKIE_NAME=refresh
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key