NODE_ENV=development # development | production
HOST=localhost
PORT=5000
COOKIE_SECRET=

DATABASE_URL=postgres://postgres:admin@localhost:5432/libertas?connection_limit=1&pgbouncer=true

# Should be the same as in web .env file
JWT_ACCESS_COOKIE_NAME=access
JWT_REFRESH_COOKIE_NAME=refresh
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key